.addAuthorHolder {
  float: right;
}

.modifyHolder {
  display: flex;
  justify-content: space-around;
}

.trashIcon {
  font-size: 1.2rem;
  cursor: pointer;
  color: gray;
}

.trashIcon:hover {
  color: red;
}

.btnHolder {
  margin-top: 2rem;
  float: right;
}
