.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeInfoContainer {
  margin-top: 4rem;
}

.homeTitle {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Playfair Display", serif;
  width: 20rem;
}

.homeSubtitle {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1.5rem 0rem;
}

.circle1 {
  width: 20rem;
  height: 20rem;
  background: #eee;
  border-radius: 100%;
  position: absolute;
  top: 15%;
  left: 20%;
  z-index: -100;
}

.circle2 {
  width: 20rem;
  height: 20rem;
  background: rgb(243, 243, 243);
  border-radius: 100%;
  position: absolute;
  top: 40%;
  left: 55%;
  z-index: -100;
}

@media screen and (max-width: 1000px) {
  .circle1 {
    top: 20%;
    left: 10%;
  }

  .circle2 {
    display: none;
  }
}
