.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  padding: 0rem 2rem;
}

.logo {
  font-size: 1, 5rem;
  font-weight: 300;
  font-family: "Signika", sans-serif;
  cursor: pointer;
}

.nav {
  min-width: 10rem;
}

.ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.li {
  font-size: 1.2rem;
  cursor: pointer;
}
