.detailContainer {
  max-width: 900px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  min-height: 50vh;
}

.bookTitle {
  font-size: 2rem;
  font-weight: 400;
}

.bookInfoContainer {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.infoHolder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.buttonHolder {
  margin-top: 1rem;
}
